.assessment-input {
    min-height: 120px;
}
.footer-button {
    width: 90%;
    margin: auto;
    margin-top: 12px;
}
.prompt {
    margin: 15px;
    min-height: 52px;
}
.progress {
    width: 80%;
    height: 4px;
    margin: 12px auto;
}
.footer {
    bottom: 0;
    padding-bottom: 20px;
    position: fixed;
    width: 100%;
}
.footer-button {
    margin: auto;
    width: 90%;
}
  