<ion-list *ngIf="assessment.checklist">
  <ion-item lines="none">
    <ion-label>
      <ion-card-title>
        <h1>Instructions</h1>
      </ion-card-title>
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <ol>
      <li *ngFor="let item of assessment.instruction">{{item}}</li>
    </ol>
  </ion-item>
  <ion-item *ngFor="let item of checklist$ | async; let i = index" [button]="true"
    (click)="openSkill(i)" lines="none">
    <img slot="start" [ngClass]="getCheckedClass(i)" src="/assets/images/icons/Check.png">
    <div *ngIf="item['thumbnail']" class="thumbnail">
      <img class="thumbnail" src="{{item['thumbnail']}}">
    </div>
    <div *ngIf="!item['thumbnail']">
      <ion-card class="card"></ion-card>
      </div>
    <ion-text class="card-label">{{item["label"]}}</ion-text>
  </ion-item>
</ion-list>
