ion-toolbar {
  --background: white;
  ion-title {
    font-size: 24px;
  }
}
ion-segment {
  // --background: #b8dfff;
  --background: var(--ion-background-color);
  margin: auto;
    margin-top: 5px;
    width: 97%;
}
.setting-button {
  border: 1px solid;
  border-radius: 5px;
  margin: auto;
}
.view-label {
  text-align: center;
}
.rank-header {
  --min-height: content;
  font-size: smaller;
  font-weight: 300;
}
.highlight {
  
  --color: var(--ion-color-tertiary);
  // color: var(--ion-color-tertiary);
}
