<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Community</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="false">
  <!-- <ion-header class="safe-area">
  </ion-header> -->
  <!-- (ionChange)="segmentChange($event)" -->
  <ion-segment value="rankings"
  [(ngModel)]="type"
   color="primary">
    <ion-segment-button value="rankings">
      <ion-label>Rankings</ion-label>
    </ion-segment-button>
    <ion-segment-button value="announcements">
      <ion-label>Announcements</ion-label>
    </ion-segment-button>
    <!-- <ion-segment-button value="people">
      <ion-label>People</ion-label>
    </ion-segment-button> -->
  </ion-segment>
  <ng-container [ngSwitch]="type">
    <ion-list style="margin: 8px;" *ngSwitchCase="'rankings'">
      <!-- <ion-list-header>
        <ion-button class="setting-button">Male</ion-button>
        <ion-button class="setting-button">National</ion-button>
        <ion-button class="setting-button">Overall</ion-button>
      </ion-list-header> -->
      <ion-item class="rank-header" lines="full">
        <!-- <ion-text slot="start">&nbsp;</ion-text> -->
        <ion-text color="medium" slot="start">Ranking</ion-text>
        <ion-text color="medium" style="padding-left: 24px;">Username</ion-text>
        <ion-text color="medium" slot="end">Level</ion-text>
      </ion-item>
      <ion-item *ngFor="let athlete of ranking$ | async; let i = index"
        (click)="openDetails(athlete)" ngClass="{{highlightUser(athlete)}}"
        color="{{highlightUser(athlete)}}"
        lines="full">
        <ion-text class="rank" slot="start">{{i+1}}</ion-text>
        <ion-avatar slot="start">
          <img *ngIf="athlete.avatar" src="{{athlete.avatar}}">
          <img *ngIf="!athlete.avatar" src="/assets/images/icons/NoProfilePic.png">
          <!-- <ion-icon *ngIf="!athlete.avatar" name="person-outline"></ion-icon> -->
        </ion-avatar>
        <ion-text *ngIf="athlete.username">&#64;{{athlete.username}}</ion-text>
        <ion-text *ngIf="!athlete.username">{{athlete.firstName}} {{athlete.lastName}}</ion-text>
        <ion-text class="score" slot="end">{{userLevel(athlete) | number}}</ion-text>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'announcements'">
      <ion-card *ngFor="let video of announcements.videos">
        <ion-card-header>
          <ion-card-title>{{video.title}}</ion-card-title>
          <ion-card-subtitle>{{video.subtitle}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <!-- welcome video -->
          <video class="video-content" controlsList="nodownload"
          controls disablepictureinpicture muted preload="metadata">
            <source src="{{video?.url}}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <ion-text>{{video.description}}</ion-text>
      </ion-card-content>
      </ion-card>
    </ion-list>
    <ion-list *ngSwitchCase="'people'">
      <ion-card>
        <ion-card-header>
          <ion-card-title></ion-card-title>
          <ion-card-subtitle>People</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>coming soon</ion-card-content>
      </ion-card>
    </ion-list>
  </ng-container>
</ion-content>
