ion-toolbar {
  --background: white;
  ion-title {
    font-size: 24px;
  }
}
ion-segment {
  // --background: #b8dfff;
  --background: white;
  margin: auto;
    margin-top: 5px;
    width: 97%;
}
.setting-button {
  border: 1px solid;
  border-radius: 5px;
  margin: auto;
}
.view-label {
  text-align: center;
}
.rank-header {
  --min-height: content;
  font-size: smaller;
  font-weight: 300;
}
.highlight {
  --background: rgba(75, 177, 255, 0.10);
}
.rank {
  min-width: 24px;
}
ion-avatar {
  background-color: var(--ion-color-primary);
  ion-icon {
    aspect-ratio:  1 / 1;
    color: var(--ion-color-primary-contrast);
    min-height: 32px;
    width: 100%;
  }
}
.score {
  color: var(--ion-color-secondary);
}