<ion-content color="default">
  <ion-header class="ion-no-border safe-area"> </ion-header>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-button
      (click)="dismiss()"
      routerDirection="back"
      type="button"
      size="small"
      shape="circle"
      color="primary"
    >
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-fab>
  <div class="ion-text-center">
    <ion-card-title class="center" color="primary" style="padding-top: 20px;"
      >{{assessment.label}}</ion-card-title
    >
  </div>

  <ion-segment value="score" 
  [(ngModel)]="inputField"
  color="primary">
    <ion-segment-button value="scoreDate">
      <ion-label>Score Date</ion-label>
    </ion-segment-button>
    <ion-segment-button value="score">
      <ion-label>Score</ion-label>
    </ion-segment-button>
    <ion-segment-button value="bodyWeight">
      <ion-label>Body Weight</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-grid>
    <ion-row>
      <ion-col>{{'00/00/00'}}</ion-col>
      <ion-col>{{score?.rawScore}} {{assessment.entryUnits}}</ion-col>
      <ion-col>{{currentWeight.value}}</ion-col>
    </ion-row>
  </ion-grid>
  <ng-container [ngSwitch]="inputField">
    <ion-list *ngSwitchCase="'scoreDate'">
      <ion-datetime preferWheel="true"></ion-datetime>
    </ion-list>
    <ion-list *ngSwitchCase="'score'">
      <app-number-picker [min]="assessment.min" [max]="assessment.max"
        [increment]="(assessment.increment ? assessment.increment : 1)"
        [units]="assessment.entryUnits" [direction]="direction(assessment)"
        (valueChange)="newValue($event)"></app-number-picker>
      </ion-list>
    <ion-list *ngSwitchCase="'bodyWeight'">
      <ion-label>Body Weight</ion-label>
    </ion-list>
  </ng-container>

  <form [formGroup]="formData" (ngSubmit)="onSubmit()">

    <!-- <div class="input-group"> -->
    <ion-grid class="input-group" [fixed]="true">
      <!-- <ion-list class="score-form" slot="start"> -->
      <ion-row>
        <ion-col size="4">
          <ion-item class="rounded-input">
            <ion-input
              formControlName="scoreDate"
              placeholder="YYYY-MM-DD"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-item class="rounded-input">
            <ion-input
              #rawScore
              formControlName="rawScore"
              placeholder="{{assessment.units}}"
              type="number"
              min="{{assessment.min}}"
              max="{{assessment.max}}"
              inputmode="{{inputMode(assessment)}}"
            ></ion-input>
            <!-- <ion-button color="light" (click)="showInput(assessment)">{{assessment.units}}</ion-button> -->
            <!-- <ion-button id="edit-score" color="light">{{assessment.units}}</ion-button> -->
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-item>
            <ion-label position="floating">Body Weight</ion-label>
            <ion-input #currentWeight formControlName="currentWeight" type="number"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="11">
          <ion-textarea
            class="custom-textarea"
            formControlName="notes"
            placeholder="Notes"
          ></ion-textarea>
        </ion-col>
      </ion-row>
      <!-- </ion-list> -->
    </ion-grid>
    <!-- </div> -->
    <ion-footer>
      <ion-toolbar color="deffault">
        <ion-button [disabled]="formData.invalid" type="submit" color="primary" shape="round" expand="block">
          Submit
        </ion-button>
      </ion-toolbar>
    </ion-footer>
  </form>

  <ion-modal trigger="edit-score" class="custom-popover">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button (click)="dismiss()">
              <ion-icon name="close-circle-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>{{assessment.label}}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-list>
        <ion-item>
          <ion-text>Hello</ion-text>
        </ion-item>
        <ion-item>
          <ion-text>Hello</ion-text>
        </ion-item>
        <ion-item>
          <ion-text>Hello</ion-text>
        </ion-item>
      </ion-list>
    </ng-template>
  </ion-modal>

</ion-content>

