<ion-content color="default" >
  <ion-header class="ion-no-border safe-area"> </ion-header>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-button
      (click)="dismiss()"
      routerDirection="back"
      type="button"
      size="small"
      shape="circle"
      color="primary"
    >
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-fab>
  <div class="ion-text-center">
    <ion-card-title class="center" style="padding: 20px 0;"
      >{{assessment.label}}</ion-card-title
    >
  </div>

  <!-- <ion-segment value="score"
    [(ngModel)]="activeField"
    color="primary">
    <ion-segment-button value="scoreDate">
      <ion-label>Score Date</ion-label>
    </ion-segment-button>
    <ion-segment-button value="score">
      <ion-label>Score</ion-label>
    </ion-segment-button>
    <ion-segment-button value="bodyWeight">
      <ion-label>Body Weight</ion-label>
    </ion-segment-button>
  </ion-segment> -->

  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <div class="rounded-tab" [ngClass]="tabClass('scoreDate')" lines="none" (click)="activate('scoreDate')">
          <ion-label position="stacked">Score Date</ion-label>
          <ion-input
            #scoreDate
            placeholder="YYYY-MM-DD"
            value="{{newScore.scoreDate | date}}"
          ></ion-input>
        </div>
      </ion-col>
      <ion-col size="3">
        <div class="rounded-tab" [ngClass]="tabClass('score')" lines="none" (click)="activate('score')">
        <ion-label position="stacked">Score</ion-label>
        <ion-input
            #rawScore
            placeholder="{{assessment.units}}"
            type="number"
            min="{{assessment.min}}"
            max="{{assessment.max}}"
            inputmode="{{inputMode(assessment)}}"
            value="{{newScore.rawScore | number: '1.0-3'}}"
          ></ion-input>
        </div>
      </ion-col>
      <ion-col size="5">
        <div class="rounded-tab" [ngClass]="tabClass('bodyWeight')" lines="none" (click)="activate('bodyWeight')">
          <ion-label position="stacked">Body Weight</ion-label>
          <ion-input
            #currentWeight
            type="number"
            value="{{newScore.currentWeight}}"></ion-input>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ng-container [ngSwitch]="activeField">
    <!-- <ion-list *ngSwitchCase="'scoreDate'" style="background-color: transparent;"> -->
    <ion-list [hidden]="activeField !== 'scoreDate'" style="background-color: transparent;">
        <ion-datetime [(ngModel)]="newScore.scoreDate" class="date-picker"
        presentation="date" [preferWheel]="true" [max]="today"></ion-datetime>
    </ion-list>
    <!-- <ion-list *ngSwitchCase="'score'" style="background-color: transparent;"> -->
    <ion-list [hidden]="activeField !== 'score'" style="background-color: transparent;">
      <app-number-picker [min]="assessment.min" [max]="assessment.max"
        [increment]="(assessment.increment ? assessment.increment : 1)"
        [units]="assessment.entryUnits" [direction]="direction(assessment)"
        [value]="newScore.rawScore"
        (valueChange)="setScore($event)"></app-number-picker>
    </ion-list>
    <!-- <ion-list *ngSwitchCase="'bodyWeight'" style="background-color: transparent;"> -->
    <ion-list [hidden]="activeField !== 'bodyWeight'" style="background-color: transparent;">
      <app-number-picker [min]="0" [max]="325"
        [units]="'lbs'" [value]="newScore.currentWeight"
        (valueChange)="setWeight($event)"></app-number-picker>
    </ion-list>
  </ng-container>

    <ion-grid class="input-group" [fixed]="true">
      <ion-row>
        <ion-col size="12">
          <ion-textarea
            #notes
            class="notes-textarea"
            label="Notes"
            labelPlacement="floating"
            fill="outline"
            maxlength="128"
            [(ngModel)]="newScore.notes"
          ></ion-textarea>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-toolbar color="default">
      <ion-button type="submit" color="primary" shape="round" expand="block" (click)="onSubmit()">
        Submit
      </ion-button>
    </ion-toolbar>

</ion-content>

