.score-form {
  margin: 20px;
  border-radius: 12pt;
  ion-textarea {
    --color: initial;
  }
}
.rounded-tab {
  --background: transparent;
  // --border-radius: 10pt 10pt 0 0;
  // --border-color: white;
  // --border-width: 1px;
  border: 1px solid var(--ion-color-primary);
  border-bottom: 0 solid transparent;
  border-radius: 10pt 10pt 0 0;
}
.active-tab {
  box-shadow: -1px -1px var(--ion-color-primary-shade);
  font-weight: bold;
}
.date-picker {
  border-radius: 8px;
  margin: auto;
  min-width: 90%;
}
ion-content {
  --background: linear-gradient(var(--ion-color-tertiary), var(--ion-color-light));
}
ion-segment {
  margin-top: 26px;
}
ion-grid {
  margin-top: 0px;
  ion-row {
    width: 100%;
    ion-col {
      text-align: center;
    }
  }
}
ion-textarea.custom-textarea {
  --background: #fff;
  --color: #373737;
  --padding-end: 10px;
  --padding-start: 10px;
  border-radius: 10pt;
  width: 90%;
}