ion-toolbar {
  --background: white;
  ion-title {
    font-size: 24px;
  }
}
ion-button {
  --border-radius: 12pt;
  padding: 10px;
  height: 217px;
  ion-label {
    font-size: 24px;
    position: fixed;
    left: 50px;
    bottom: 20px;
  }
}
.blue-button {
  --background: linear-gradient(#b8dfff, #5eb3f9);
  --background-activated: #5eb3f9;
}
.green-button {
  --background: linear-gradient(#b8ffdd, #5eddf9);
  --background-activated: #5eddf9;
}

