<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Training</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <ion-header class="ion-no-border safe-area">
  </ion-header> -->
  <!-- <ion-searchbar></ion-searchbar> -->
  <ng-container>

    <swiper-container #trainingSwiper class="training-swiper"
      [config]="trainingSlidesOptions">
      <swiper-slide *ngFor="let button of buttonList" class="training-slide">
        <ion-button [ngClass]="button.class" expand="full" shape="round"
          (click)="commingSoon(button.label)">
          <ion-label>{{button.label}}</ion-label>
        </ion-button>
      </swiper-slide>
    </swiper-container>
  </ng-container>
</ion-content>
