<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Training</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <ion-header class="ion-no-border safe-area">
  </ion-header> -->
  <!-- <ion-searchbar></ion-searchbar> -->
  <ng-container>
    <ion-button *ngFor="let button of buttonList" [ngClass]="button.class" expand="full" shape="round"
      (click)="commingSoon(button.label)">
      <ion-label>{{button.label}}</ion-label>
    </ion-button>
  </ng-container>
</ion-content>
