<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button routerLink="/login">Sign in</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-slides pager>
    <ion-slide>
      <ion-icon name="body-outline"></ion-icon>
      <h1 color="primary">Welcome to the Omni Method</h1>
    </ion-slide>
    <ion-slide>
      <ion-icon name="barbell-outline"></ion-icon>
      <h1 color="primary">Slide Two</h1>
    </ion-slide>
    <ion-slide>
      <ion-icon name="trophy-outline"></ion-icon>
      <h1 color="primary">Slide Three</h1>
    </ion-slide>
    <ion-slide>
      <ion-icon name="footsteps-outline"></ion-icon>
      <h1 color="primary">Slide Four</h1>
    </ion-slide>
    <ion-slide>
      <ion-icon name="fitness-outline"></ion-icon>
      <h1 color="primary">Slide Five</h1>
    </ion-slide>
  </ion-slides>
</ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-button routerLink="/tabs"  full>Create account</ion-button>
    </ion-toolbar>
  </ion-footer>
