<ion-content color="default" scroll-y="false">
  <ion-header class="ion-no-border safe-area"> </ion-header>
  <img class="center" src="/assets/images/icon.png" alt="OmniMethod" />

  <ion-grid style="vertical-align: middle;">
    <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <div>
            <ion-text color="primary">
              <h1>{{title}}</h1>
            </ion-text>
          </div>
          <ion-text color="dark" text-center
            >Create an account to get started</ion-text
          >
        </div>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col>
        <ion-button
          routerLink="/register"
          shape="round"
          color="dark"
          expand="block"
        >
          <ion-icon slot="start" color="light" name="logo-apple"></ion-icon>
          Continue with Apple</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button
          shape="round"
          color="dark"
          expand="block"
          (click)="registerWithGoogle()"
        >
          <img src="/assets/images/google_logo.png" alt="Google Logo" width="22" height="22" style="vertical-align: middle; margin-right: 8px;">
          Continue with Google</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button
          routerLink="/register"
          shape="round"
          color="dark"
          expand="block"
        >
          <ion-icon
            slot="start"
            style="color: #1877F2;"
            name="logo-facebook"
          ></ion-icon>
          Continue with Facebook</ion-button
        >
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col>
        <ion-button
          routerLink="/register"
          shape="round"
          color="dark"
          expand="block"
        >
          <ion-icon slot="start" color="light" name="mail-outline"></ion-icon>
          Continue with Email</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div style="margin-top: 10px;"></div>
        <div class="ion-text-center">
          <ion-text color="dark">Already have an account?</ion-text>
        </div>
        <div style="margin-top: 10px;"></div>
        <ion-button
          routerLink="/login"
          color="primary"
          expand="block"
          shape="round"
          >Log in</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
