ion-content {
  // --ion-background-color:black;
  // --ion-text-color: white;
  --padding-top: 32px;
}

ion-button {
  --ion-border-radius: 20%;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
