<ng-container *ngIf="(assessment$ | async) as assessment">
  <ion-content>
    <ion-header class="ion-no-border safe-area"> </ion-header>

    <ion-fab vertical="top" horizontal="start" slot="fixed">
      <ion-button
        (click)="goBack()"
        type="button"
        size="small"
        shape="circle"
        color="primary"
      >
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-fab>

    <ion-img class="header-img" src="{{assessment.icon}}"></ion-img>

    <ion-item lines="full">
      <ion-label>
        <ion-card-title>
          <h1>{{ assessment.label }}</h1>
        </ion-card-title>
        <ion-card-subtitle>
          <h5>{{ (category$ | async).label }}</h5>
        </ion-card-subtitle>
      </ion-label>
      <ion-label *ngIf="assessment.checklist" slot="end">
        <ion-card-title><h1>{{ curScore?.rawScore }}</h1></ion-card-title>
        <ion-card-subtitle><h5>{{ curScore?.scoreDate }}</h5></ion-card-subtitle>
      </ion-label>
    </ion-item>

    <div *ngIf="!assessment.checklist">

      <ion-accordion-group>
        <ion-accordion toggleIconSlot="none">
          <ng-container *ngFor="let score of scores$ | async; index as i; first as isFirst">
            <ion-item *ngIf="isFirst" class="header" slot="header" lines="none">
              <ion-label position="fixed" class="fixed-width" slot="start">Date</ion-label>
              <ion-label position="fixed" style="margin: auto;" style="text-align: center;">{{assessment.units}}</ion-label>
              <ion-label position="fixed" slot="end" style="text-align: right;">score/1000</ion-label>
            </ion-item>
            <ion-item-sliding slot="{{i < 3 ? 'header':'content'}}">
              <ion-item lines="full">
                <ion-label position="fixed" class="fixed-width" slot="start">
                  <div>{{score.scoreDate | date:'mediumDate' }}</div>
                </ion-label>
                <ion-label position="fixed" style="text-align: center;">
                  <div style="font-weight: bold">{{ score.rawScore }}</div>
                </ion-label>
                <ion-label color="primary" position="fixed" slot="end">
                  <div class="score" style="text-align: right;">{{ score.calculatedScore }}</div>
                </ion-label>
              </ion-item>
              <ion-item-options>
                <ion-item-option color="danger" (click)="deleteScore(score)">
                  <ion-icon slot="icon-only" name="trash"></ion-icon
                ></ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          </ng-container>
        </ion-accordion>
      </ion-accordion-group>

      <ng-container *ngIf="assessment.warning">
        <ion-item lines="full">
          <ion-icon slot="start" name="warning" color="warning" size="large"></ion-icon>
          <p>{{ assessment.warning }}</p>
        </ion-item>
      </ng-container>
      <ng-container *ngIf="assessment.description">
        <ion-item lines="none">
          <ion-label>
            <ion-card-title>
              <h1>Description</h1>
            </ion-card-title>
          </ion-label>
          </ion-item>
        <ion-item lines="full">
          <p>{{ assessment.description }}</p>
        </ion-item>
      </ng-container>
      <ng-container *ngIf="assessment.instruction.length > 0">
        <ion-item lines="none">
          <ion-label>
            <ion-card-title>
              <h1>Instructions</h1>
            </ion-card-title>
          </ion-label>
        </ion-item>
        <ion-item lines="full">
          <ol>
            <li *ngFor="let item of assessment.instruction">{{item}}</li>
          </ol>
        </ion-item>
      </ng-container>
      <ng-container *ngIf="assessment.rules.length > 0">
        <ion-item lines="none">
          <ion-label>
            <ion-card-title>
              <h1>Rules</h1>
            </ion-card-title>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ol>
            <li *ngFor="let item of assessment.rules">{{item}}</li>
          </ol>
        </ion-item>
      </ng-container>
    </div>
    <!-- edit checklist -->
    <app-edit-checklist *ngIf="assessment.checklist"
      [assessment]="assessment" [score$]="score$"
      (checked)="updateChecked($event)"
      ></app-edit-checklist>
  </ion-content>
  <ion-button *ngIf="!assessment.checklist" class="footer-button" shape="round" (click)="openNewScore(assessment)">
    <ion-icon name="pencil-outline"></ion-icon>
  </ion-button>
</ng-container>

