<ion-content>
  <ion-header class="ion-no-border safe-area"> </ion-header>

  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-button
      routerLink="/home/profile"
      routerDirection="back"
      type="button"
      size="small"
      shape="circle"
      color="secondary"
    >
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
  </ion-fab>

  <ion-img class="header-img" src="{{assessment.icon}}"></ion-img>

  <ion-item>
    <ion-label>
      <ion-card-title>
        <h1>{{ assessment.label }}</h1>
      </ion-card-title>
      <ion-card-subtitle>
        <h5>{{ category.label }}</h5>
      </ion-card-subtitle>
    </ion-label>
  </ion-item>

  <div *ngIf="!assessment.checklist">
    <ion-button expand="block" shape="round" (click)="openNewScore()">
      <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
    </ion-button>

    <ion-accordion-group>
      <ion-accordion toggleIconSlot="start">
        <!-- *ngIf="assessment.scores"> -->

        <!-- <ion-item button detail-icon="create-outline" lines="full"> -->
        <!-- <ion-item slot="header">scores</ion-item> -->
        <ion-item
          *ngFor="let score of scores; first as isFirst"
          lines="full"
          slot="{{isFirst ? 'header':'content'}}"
        >
          <ion-label slot="start">
            <div>{{ assessment.units }}</div>
            <div style="font-weight: bold">{{ score.rawScore }}</div>
            <div>{{score.scoreDate | date:'mediumDate' }}</div>
          </ion-label>
          <ion-label slot="end">
            <div class="score-label">Exercise Score:</div>
            <div class="score">{{ score.calculatedScore }}</div>
          </ion-label>
        </ion-item>
      </ion-accordion>
    </ion-accordion-group>

    <ion-item lines="full">
      <p>{{ assessment.description }}</p>
    </ion-item>
  </div>
  <ion-list *ngIf="assessment.checklist">
    <ion-grid
      button
      class="card"
      *ngFor="let item of getCheckList(assessment.aid);  let i = index"
      (click)="toggleCheckItem(item)"
    >
      <ion-row>
        <ion-col>
          <ion-img src="{{assessment.icon}}"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="9">
          <ion-label color="primary" class="card-label">{{item}}</ion-label>
        </ion-col>
        <ion-col size="3">
          <ion-checkbox class="card-check"></ion-checkbox>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>

<!-- <ion-footer>
  <ion-text>This is the assessment-detail footer</ion-text>
</ion-footer> -->
