<ion-content #scrollarea>
  <ion-header class="ion-no-border safe-area"> </ion-header>
  <ion-card class="card cardStyle topCard">
    <ion-item lines="none" color="primary">
      <span slot="start" *ngIf="userLoaded">
        <ion-avatar>
          <span *ngIf="user.avatar">
            <img src="{{user?.avatar}}" />
          </span>
          <ion-label *ngIf="!user.avatar" class="textAvatar">
            {{user?.firstName | slice : 0 : 1 }} {{user?.lastName | slice : 0 :
            1 }}
          </ion-label>
        </ion-avatar>
      </span>
      <span slot="start" *ngIf="!userLoaded">
        <ngx-skeleton-loader
          count="1"
          appearance="circle"
          animation="pulse"
          [theme]="{
            'background-color': 'lightgray',
            'border-radius': '50%',
             height: '64px',
             width: '64px'
          }"
        ></ngx-skeleton-loader>
      </span>

      <span class="name" *ngIf="userLoaded">
        <div>{{user.firstName}}</div>
        <div>{{user.lastName}}</div>
      </span>
      <span *ngIf="!userLoaded">
        <ngx-skeleton-loader
          count="2"
          appearance="line"
          animation="pulse"
          [theme]="{
            'background-color': 'lightgray',
             height: '20px',
             width: '92px'
          }"
        ></ngx-skeleton-loader>
      </span>
      <span slot="end">
        <div style="font-weight: 400">Omni Score</div>
        <div style="font-size: 1.4em; font-weight: 600; text-align: center">
          {{omniScore}}
        </div>
      </span>
    </ion-item>

    <ion-item lines="none" color="primary">
      <ion-grid class="ion-text-center" color="">
        <ion-row>
          <!-- <ion-col>
            <span>
              <div style="font-weight: 400">Omni Score</div>
              <div
                style="font-size: 1.4em; font-weight: 600; text-align: center"
              >
                {{omniScore}}
              </div>
            </span>
          </ion-col> -->
        </ion-row>
        <!-- hide weight and height -->
        <!--
        <ion-row>
          <ion-col
            >Body Weight
            <div *ngIf="userLoaded">{{user.weight}}</div>
            <div *ngIf="!userLoaded">
              <ngx-skeleton-loader
                appearance="line"
                animation="pulse"
                [theme]="{
              'background-color': 'lightgray',
               height: '16px',
               width: '48px'
            }"
              ></ngx-skeleton-loader>
            </div>
          </ion-col>
          <ion-col
            >Height
            <div *ngIf="userLoaded">
              {{user.height.feet}}' {{user.height.inches}}"
            </div>
            <div *ngIf="!userLoaded">
              <ngx-skeleton-loader
                appearance="line"
                animation="pulse"
                [theme]="{
              'background-color': 'lightgray',
               height: '16px',
               width: '48px'
            }"
              ></ngx-skeleton-loader>
            </div>
          </ion-col>
        </ion-row>
-->

        <ion-row>
          <!-- <ion-col>
            <ion-icon name="options-outline"></ion-icon><br />
            Unadjusted
            <div>N/A</div>
          </ion-col> -->
          <ion-col>
            <ion-icon name="pin"></ion-icon>
            Local Rank
            <div>N/A</div>
          </ion-col>
          <!-- <ion-col></ion-col> -->
          <ion-col>
            <ion-icon name="globe"></ion-icon>
            World Rank
            <div>N/A</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card>

  <ion-card style="box-shadow: none; margin-bottom: 0">
    <ion-card-header>
      <ion-card-title>All Assessments</ion-card-title>
    </ion-card-header>

    <ng-container class="card cardStyle" *ngFor="let category of categories">
      <ion-card-header type="primary" class="cat-header">
        {{category.label}}: {{categoryScores.get(category.cid)}}
      </ion-card-header>
      <ng-container *ngFor="let assessment of assessments">
        <ng-container *ngIf="assessment.cid == category.cid">
          <ion-item
            (click)="openDetails(assessment, category)"
            style="--inner-border-width: 0"
          >
            <ion-thumbnail slot="start">
              <ion-img
                class="fit-thumbnail"
                src="{{assessment.icon}}"
              ></ion-img>
            </ion-thumbnail>
            <ion-label>{{assessment.label}}</ion-label>
            <div slot="end">
              <span class="units">{{assessment.units}}</span>
              <br />
              <!-- <ion-badge
            ngClass="{{scoreClass(scores?.[0]?.scoreDate)}}"
            slot="end"
            >{{scores?.[0]?.rawScore}}</ion-badge
          > -->
              <ion-badge
                class="score"
                ngClass="{{scoreClass(assessment)}}"
                slot="end"
                (click)="openNewScore($event, assessment)"
                >{{getRawScore(assessment)}}</ion-badge
              >
            </div>
          </ion-item>
        </ng-container>
      </ng-container>
    </ng-container>
  </ion-card>
  <!-- <ion-modal>
    <<ng-template [ngTemplateOutlet]="outlet" [ngOutletContext]="context">
      <app-new-score></app-new-score>
    </ng-template>
  </ion-modal> -->
</ion-content>
