.cardStyle {
  // --ion-background-color: rgb(99, 175, 255);
  // border-radius: 20px;
  margin: 12px;
  padding: 20px 4px;
}
span {
  // color: white;
  font-weight: 400;
}

.name {
  // font-size: 1.1em;
  font-weight: bold;
}
.units {
  color: var(--color);
  float: right;
  font-size: smaller;
}
.score {
  color: white;
  background-color: #35b5ff;
  border-radius: 12px;
  float: right;
  font-size: larger;
  font-weight: bold;
  padding: 0.1em 1em;
}
ion-badge {
  float: right;
}
.warn {
  background-color: orange;
}
.stale {
  background-color: red;
}
ion-avatar img {
  border-radius: 50%;
  aspect-ratio: 1 / 1;
}
.textAvatar {
  color: #35b5ff;
  background-color: white;
  border-radius: 50%;
  border: 2px solid lightgray;
  font-weight: bold;
  overflow: visible;
  padding: 10px 6px;
}
.topCard {
  background-color: #35b5ff;
  border-radius: 20px;
  border-width: 0pt;
  box-shadow: 0px 4px 8px #5eb2ff80;
}
ion-card-header {
  padding: 0px 0px 0px 8px;
}
// .pageLabel {
//   text-align: center;
//   margin: 15px;
//   font-weight: 400;
//   font-size: 1.5em;
// }
ion-thumbnail[slot="start"] {
  // default is 16px
  margin-inline-start: -13px;
}
.fit-thumbnail::part(image) {
  border-radius: 5px;
  object-fit: contain;
}
.cat-header {
  border-top: 0.5px solid lightgray;
}
.bottom-padding {
  min-height: 10px;
}
