.contentCard {
  --background: transparent;
  box-shadow: none;
  margin-bottom: 0;
}
span {
  // color: white;
  font-weight: 400;
}
ion-header {
  --background: transparent;
  --border-color: transparent;
}
// .profile-header {
//   display: flexbox;
//   flex-direction: column;
// }
ion-content {
  --offset-top: 0px;
  position: absolute;
}
.safe-area {
  background-color: #b8dfff;
  height: var(--ion-safe-area-top, 0);
}
ion-refresher {
  background-color: #b8dfff;
  height: 100%;
}
ion-refresher-content {
  height: 60px;
}
.units {
  color: var(--color);
  float: right;
  font-size: smaller;
}
.score {
  color: white;
  background-color: "primary";
  border-radius: 12px;
  float: right;
  font-size: larger;
  font-weight: bold;
  padding: 0.25em 0.8em 0.1em 0.8em;
}
ion-badge {
  float: right;
}
.caution {
  background-color: #4d91ca;
}
.warn {
  background-color: #305b7e;
}
.stale {
  background-color: #ff3e3e;
}
ion-thumbnail[slot="start"] {
  // default is 16px
  margin-inline-start: -13px;
}
.fit-thumbnail::part(image) {
  border-radius: 5px;
  object-fit: contain;
}
.cat-header {
  border-top: 0.5px solid lightgray;
  color: #8A8A8A;
  font-weight: 500;
  margin-top: 10px;
}
.bottom-padding {
  min-height: 10px;
}
