.cardStyle {
  margin: 0;
}
.bg-transparent {
  // background: transparent;
  -ion-item-background: transparent;
}
span {
  // color: white;
  font-weight: 400;
}
ion-header {
  background-color: #b8dfff;
}
ion-content ion-header {
  background: linear-gradient(#b8dfff, #5eb3f9);
  border-radius: 0 0 20px 20px;
  ion-label {
    color: white;
  }
}
user-avatar {
  margin: auto;
  padding-left: 70px;
}
#omniScore {
  margin: auto;
  .omni-label {
    border-top: 1.5px solid white;
    font-weight: 700;
    padding: 10px 40px;
  }
  .omni-score {
    font-size: 1.4em;
    font-weight: 700;
    padding-bottom: 10px;
    text-align: center;
  }
}
.name {
  font-size: 2em;
  font-weight: bold;
  margin: auto;
}
.units {
  color: var(--color);
  float: right;
  font-size: smaller;
}
.score {
  color: white;
  background-color: #35b5ff;
  border-radius: 12px;
  float: right;
  font-size: larger;
  font-weight: bold;
  padding: 0.1em 1em;
}
ion-badge {
  float: right;
}
.caution {
  background-color: #4d91ca;
}
.warn {
  background-color: #305b7e;
}
.stale {
  background-color: #f12323;
}
.topCard {
  background-color: #35b5ff;
  border-radius: 20px;
  border-width: 0pt;
  box-shadow: 0px 4px 8px #5eb2ff80;
}
ion-card-header {
  padding: 0px 0px 0px 8px;
}
// .pageLabel {
//   text-align: center;
//   margin: 15px;
//   font-weight: 400;
//   font-size: 1.5em;
// }
ion-thumbnail[slot="start"] {
  // default is 16px
  margin-inline-start: -13px;
}
.fit-thumbnail::part(image) {
  border-radius: 5px;
  object-fit: contain;
}
.cat-header {
  border-top: 0.5px solid lightgray;
}
.bottom-padding {
  min-height: 10px;
}
