ion-picker {
    --highlight-background: var(--ion-color-primary);
    --highlight-border-radius: 17px;
    --fade-background-rgb: var(--ion-color-light-rgb);
    background-color: var(--ion-color-light);
    border-radius: 17px;
    overflow: hidden;
}