<ion-content>
  <ion-header class="ion-no-border safe-area"> </ion-header>
  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-button
      routerLink="/login"
      routerDirection="back"
      type="button"
      size="small"
      shape="circle"
      color="secondary"
    >
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
  </ion-fab>
  <div class="ion-text-center">
    <h1 class="center">{{title}}</h1>
  </div>

  <form>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input
        [(ngModel)]="email"
        [ngModelOptions]="{standalone: true}"
        type="email"
        required
      ></ion-input>
    </ion-item>
    <ion-button
      type="submit"
      expand="block"
      (click)="forgotPassword()"
      shape="round"
      >Send Link</ion-button
    >
  </form>
</ion-content>
