
<!-- <ng-container *ngTemplateOutlet="modalContainer"></ng-container> -->

<ion-content #modalContainer>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button (click)="cancel()">
          <ion-icon name="close-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>{{titleMap[targetProperty]}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <!-- <ng-container *ngTemplateOutlet="{{targetProperty}}"></ng-container> -->
    <ion-button (click)="save()" expand="block">Save</ion-button>
  </ion-content>
</ion-content>

<ng-template #dob>
  <ion-datetime formControlName="dob" presentation="date" [preferWheel]="true"></ion-datetime>
</ng-template>
