
<!-- <ng-container *ngTemplateOutlet="modalContainer"></ng-container> -->

<ion-content #modalContainer class="custom-popover" scrollY="false">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button (click)="cancel()">
          <ion-icon name="close-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>{{title}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ng-container *ngTemplateOutlet="template"></ng-container>
  </ion-list>
  <ion-button *ngIf="targetProperty != 'avatar'"
  type="submit"
  (click)="save()"
  shape="round"
  expand="block"
>Save</ion-button>
</ion-content>

<ng-template #avatar>
  <ion-item lines="none">
    <!-- table of choices -->
    <ion-grid>
      <ion-row>
        <ion-col size="3" *ngFor="let avatar of avatars" ngClass="isSelected">
          <div class="avatar-container"
            (click)="setAvatar(avatar.icon)"
            >
            <img src="{{avatar.icon}}">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ng-template>

<ng-template #name>
    <ion-item lines="none">
      <ion-label position="fixed">First name</ion-label>
      <ion-input
        placeholder="First"
        [maxlength]="30"
        [(ngModel)]="updUser.firstName"
      ></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="fixed">Last name</ion-label>
      <ion-input
        placeholder="Last"
        [maxlength]="30"
        [(ngModel)]="updUser.lastName"
      ></ion-input>
    </ion-item>
</ng-template>

<ng-template #username>
  <ion-item lines="none">
    <ion-input
      id="username"
      label="Username"
      labelPlacement="fixed"
      [(ngModel)]="updUser.username"
      (keydown.space)="$event.preventDefault()"
      oninput="this.value = this.value.toLowerCase()"
      counter="true"
      [maxlength]="30"
    ></ion-input>
  </ion-item>
</ng-template>

<ng-template #dob>
  <ion-item lines="none">
    <ion-datetime class="date-picker"
      [(ngModel)]="updUser.dob"
      presentation="date"
      [preferWheel]="true"></ion-datetime>
  </ion-item>
</ng-template>

<ng-template #sex>
  <ion-item lines="none">
    <ion-label position="fixed">Gender</ion-label>
    <ion-radio-group [(ngModel)]="updUser.gender">
      <ion-item lines="none">
        <ion-label>Male</ion-label>
        <ion-radio slot="end" value="Male"></ion-radio>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Female</ion-label>
        <ion-radio slot="end" value="Female"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-item>
</ng-template>

<ng-template #height>
  <ion-item lines="none">
    <app-number-picker style="width: 50%;" [min]="3" [max]="7" [units]="'ft'"
    [(pickerValue)]="updUser.height.feet"></app-number-picker>
    <app-number-picker style="width: 50%;" [min]="0" [max]="11" [units]="'in'"
    [(pickerValue)]="updUser.height.inches"></app-number-picker>
  </ion-item>
</ng-template>

<ng-template #weight>
  <ion-item lines="none">
    <!-- <ion-label position="fixed">Weight</ion-label> -->
    <app-number-picker style="width: 100%;" [min]="0" [max]="325" [units]="'lbs'"
      [(pickerValue)]="updUser.weight"></app-number-picker>
  </ion-item>
</ng-template>
