.date-picker {
    margin: auto;
    min-width: unset;
}
:host {
    --padding-end: var(--padding-start);
}
ion-list {
    ion-item {
        text-align: center;
        --min-height: 64px;
    }
}
ion-button[type="submit"] {
    margin: auto;
    margin-top: 50px;
    width: 90%;
}
.avatar-selected {
    background-color: var(--ion-color-light);
}
.avatar-container {
    background-size: cover;
    border-radius: 50%;
    min-height: 64px;
    img {
        padding-top: 8px;
    }
}