ion-button [expand=block]{
    bottom: 0;
    margin: auto;
    position: fixed;
    width: 80%;
}
ion-list {
    display: table;
    table-layout: fixed;
    height: calc(320px - 44px);
    ion-item {
        display: table-row;
        text-align: center;
    }
}