:root {
	--ion-color-primary: #58B4FF;
	--ion-color-primary-rgb: 88,180,255;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #4d9ee0;
	--ion-color-primary-tint: #69bcff;

	--ion-color-secondary: #8bcbff;
	--ion-color-secondary-rgb: 139,203,255;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #7ab3e0;
	--ion-color-secondary-tint: #97d0ff;

	--ion-color-tertiary: #b9dfff;
	--ion-color-tertiary-rgb: 185,223,255;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #a3c4e0;
	--ion-color-tertiary-tint: #c0e2ff;

	--ion-color-recent: #58B4FF;
	--ion-color-recent-rgb: 88,180,255;
	--ion-color-recent-contrast: #000000;
	--ion-color-recent-contrast-rgb: 0,0,0;
	--ion-color-recent-shade: #4d9ee0;
	--ion-color-recent-tint: #69bcff;

	--ion-color-warning: #2473b3;
	--ion-color-warning-rgb: 36,115,179;
	--ion-color-warning-contrast: #ffffff;
	--ion-color-warning-contrast-rgb: 255,255,255;
	--ion-color-warning-shade: #20659e;
	--ion-color-warning-tint: #3a81bb;

	--ion-color-danger: #0024a6;
	--ion-color-danger-rgb: 0,36,166;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #002092;
	--ion-color-danger-tint: #1a3aaf;

	--ion-color-medium: #92949c;
	--ion-color-medium-rgb: 146,148,156;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #808289;
	--ion-color-medium-tint: #9d9fa6;

	--ion-color-light: #f4f5f8;
	--ion-color-light-rgb: 244,245,248;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d7d8da;
	--ion-color-light-tint: #f5f6f9;

}