// Averia_Serif_Libre
@font-face {
    font-family: AveriaSerifLibre;
    src: url(../assets/fonts/Averia_Serif_Libre/AveriaSerifLibre-Regular.ttf);
}
@font-face {
    font-family: AveriaSerifLibre;
    src: url(../assets/fonts/Averia_Serif_Libre/AveriaSerifLibre-Bold.ttf);
    font-weight: 700;
}
 