:root {
	--ion-color-primary: #0024A6;
	--ion-color-primary-rgb: 0,36,166;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #002092;
	--ion-color-primary-tint: #1a3aaf;

	--ion-color-secondary: #3572ac;
	--ion-color-secondary-rgb: 53,114,172;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #2f6497;
	--ion-color-secondary-tint: #4980b4;

	--ion-color-tertiary: #8DFFF1;
	--ion-color-tertiary-rgb: 141,255,241;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #7ce0d4;
	--ion-color-tertiary-tint: #98fff2;

	--ion-color-recent: #8DFFF1;
	--ion-color-recent-rgb: 141,255,241;
	--ion-color-recent-contrast: #000000;
	--ion-color-recent-contrast-rgb: 0,0,0;
	--ion-color-recent-shade: #7ce0d4;
	--ion-color-recent-tint: #98fff2;

	--ion-color-warning: #3572ac;
	--ion-color-warning-rgb: 53,114,172;
	--ion-color-warning-contrast: #ffffff;
	--ion-color-warning-contrast-rgb: 255,255,255;
	--ion-color-warning-shade: #2f6497;
	--ion-color-warning-tint: #4980b4;

	--ion-color-danger: #0024A6;
	--ion-color-danger-rgb: 0,36,166;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #002092;
	--ion-color-danger-tint: #1a3aaf;

	--ion-color-medium: #92949c;
	--ion-color-medium-rgb: 146,148,156;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #808289;
	--ion-color-medium-tint: #9d9fa6;

	--ion-color-light: #f4f5f8;
	--ion-color-light-rgb: 244,245,248;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d7d8da;
	--ion-color-light-tint: #f5f6f9;

}