:root {
	--ion-color-primary: #F95EF3;
	--ion-color-primary-rgb: 249,94,243;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #db53d6;
	--ion-color-primary-tint: #fa6ef4;

	--ion-color-secondary: #f986f5;
	--ion-color-secondary-rgb: 249,134,245;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #db76d8;
	--ion-color-secondary-tint: #fa92f6;

	--ion-color-tertiary: #f9b6f7;
	--ion-color-tertiary-rgb: 249,182,247;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #dba0d9;
	--ion-color-tertiary-tint: #fabdf8;

	--ion-color-recent: #FA94FB;
	--ion-color-recent-rgb: 250,148,251;
	--ion-color-recent-contrast: #000000;
	--ion-color-recent-contrast-rgb: 0,0,0;
	--ion-color-recent-shade: #dc82dd;
	--ion-color-recent-tint: #fb9ffb;

	--ion-color-warning: #F95EF3;
	--ion-color-warning-rgb: 249,94,243;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #db53d6;
	--ion-color-warning-tint: #fa6ef4;

	--ion-color-danger: #FF1CF6;
	--ion-color-danger-rgb: 255,28,246;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #e019d8;
	--ion-color-danger-tint: #ff33f7;

	--ion-color-medium: #92949c;
	--ion-color-medium-rgb: 146,148,156;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #808289;
	--ion-color-medium-tint: #9d9fa6;

	--ion-color-light: #f4f5f8;
	--ion-color-light-rgb: 244,245,248;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d7d8da;
	--ion-color-light-tint: #f5f6f9;

}