<ion-content color="default" scroll-y="false">
  <ion-header class="ion-no-border safe-area"> </ion-header>
  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-button
      routerLink="/welcome"
      routerDirection="back"
      type="button"
      size="small"
      shape="circle"
      color="secondary"
    >
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
  </ion-fab>
  <div class="ion-text-center">
    <ion-text color="dark">
      <h1 class="center">{{title}}</h1>
    </ion-text>
  </div>
  <!-- <img class="center" src="/assets/images/icon.png" alt="OmniMethod" /> -->
  <ion-grid>
    <ion-row>
      <ion-col>
        <form>
          <ion-item>
            <ion-input
              [(ngModel)]="email"
              [ngModelOptions]="{standalone: true}"
              type="email"
              required
              labelPlacement="floating"
              label="Email"
            ></ion-input>
          </ion-item>
          <ion-item lines="full">
            <app-show-hide-password>
              <ion-input
                [(ngModel)]="password"
                [ngModelOptions]="{standalone: true}"
                type="password"
                required
                labelPlacement="floating"
                label="Password"
              ></ion-input>
            </app-show-hide-password>
          </ion-item>
          <ion-button
            type="submit"
            expand="block"
            (click)="doLogin()"
            shape="round"
            >Sign In</ion-button
          >
        </form>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <span>
            <a [routerLink]="['/forgot-password']" class="small-text"
              >Forgot Password?</a
            >
          </span>
        </ion-item>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col>
        <div class="ion-text-center">
          <ion-text color="secondary">OR</ion-text>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button
          routerLink="/home"
          shape="round"
          color="medium"
          expand="block"
        >
          <ion-icon slot="start" name="logo-apple"></ion-icon>
          Continue with Apple</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button
          (click)="signInWithGoogle()"
          shape="round"
          color="medium"
          expand="block"
        >
          <ion-icon slot="start" name="logo-google">
          </ion-icon>
          Continue with Google</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button
          routerLink="/home"
          shape="round"
          color="medium"
          expand="block"
        >
          <ion-icon slot="start" name="logo-facebook"></ion-icon>
          Continue with Facebook</ion-button
        >
      </ion-col>
    </ion-row> -->
  </ion-grid>
</ion-content>
