ion-card-header {
    padding: 0px 0px 0px 8px;
}
ion-thumbnail[slot="start"] {
    // default is 16px
    margin-inline-start: -13px;
}
ion-header ion-toolbar ion-list ion-item {
    text-align: center;
}
.bg-transparent {
  --ion-item-background: transparent;
}
.name {
    font-size: 2em;
    font-weight: bold;
    margin: auto;
}
.units {
    color: var(--color);
    float: right;
    font-size: smaller;
}
.score {
    color: white;
    background-color: #35b5ff;
    border-radius: 12px;
    float: right;
    font-size: larger;
    font-weight: bold;
    padding: 0.1em 1em;
}
ion-badge {
    float: right;
} 
.caution {
    background-color: var(--ion-color-caution);
    color: var(--ion-color-caution-contrast);
  }
  .warn {
    background-color: var(--ion-color-warn);
    color: var(--ion-color-warn-contrast);
  }
  .stale {
    background-color: var(--ion-color-stale);
    color: white;
  }
.fit-thumbnail::part(image) {
    border-radius: 5px;
    object-fit: contain;
    filter: hue-rotate(var(--hue-rotation)) saturate(var(--saturate)) brightness(var(--brightness)) contrast(var(--contrast));
}
.cat-header {
    border-top: 0.5px solid lightgray;
    color: #8A8A8A;
    font-weight: 500;
}
.bottom-padding {
    min-height: 3%;
}
