<ion-header>
  <ion-toolbar color="primary">
    <ion-list style="background-color: transparent;">
      <ion-item class="name" lines="none" color="none">
        {{title}}
      </ion-item>
      <ion-item lines="none" color="none">
        <ion-text>Omni Score&nbsp;{{athlete.omniScore | number}}</ion-text>
      </ion-item>
    </ion-list>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close-circle-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" #scrollarea no-bounce  class="bg-transparent">
  <!-- <ion-header>
    <ion-toolbar color="default">
      <ion-list>
        <ion-item lines="none" color="none">{{title}}</ion-item>
        <ion-item id="omniScore" lines="none" color="none">
          <span>
            <ion-label class="omni-label">Omni Score</ion-label>
            <ion-label class="omni-score">{{athlete.omniScore}}</ion-label>
          </span>
        </ion-item>
      </ion-list>
      <ion-buttons slot="end">
        <ion-button (click)="dismiss()">
          <ion-icon name="close-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header> -->
  <ion-card class="bg-transparent" style="box-shadow: none; margin-bottom: 0">
    <ion-item lines="none">
      <ion-card-title>All Assessments</ion-card-title>
    </ion-item>

    <ng-container *ngIf="{
      categories: categories$ | async,
      assessments: assessments$ | async
    } as data; else loading">
      <ng-container *ngFor="let category of data.categories">
        <ion-item class="cat-header" lines="none">
          {{category.label}}: {{getCategoryScore(category.cid)}}
        </ion-item>
        <ng-container *ngFor="let assessment of getCategoryAssessments(data.assessments, category.cid)">
          <ion-item lines="none" style="--inner-border-width: 0">
            <ion-thumbnail slot="start">
              <ion-img
                class="fit-thumbnail"
                src="{{assessment.icon}}"
              ></ion-img>
            </ion-thumbnail>
            <ion-label>{{assessment.label}}</ion-label>
            <div slot="end">
              <span class="units">{{assessment.units}}</span>
              <br />
              <ng-container *ngIf="getScore(assessment.aid) as score; else zeroScore">
                <ion-badge
                  class="score"
                  ngClass="{{scoreClass(score['scoreDate'])}}"
                  slot="end"
                  >{{score['rawScore']}}</ion-badge
                >
              </ng-container>
              <ng-template #zeroScore>
                <ion-badge
                  class="score"
                  slot="end"
                  >0</ion-badge
                >
              </ng-template>
              </div>
          </ion-item>
        </ng-container>
      </ng-container>
    </ng-container>
    <ng-template #loading>Loading...</ng-template>

  </ion-card>
  <div class="bottom-padding"></div>
</ion-content>
