<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{title}}</ion-title>
    <ion-label >Omni Score:&nbsp;{{athlete.omniScore}}</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="box-shadow: none; margin-bottom: 0">
    <ion-card-header>
      <ion-card-title>All Assessments</ion-card-title>
    </ion-card-header>

  <!-- <ion-item>All Assessments
  </ion-item> -->
  <ng-container *ngFor="let cat of categories$ | async">
    <ion-card-header type="primary" class="cat-header">
      {{cat.label}}: {{getCategoryScore(cat.cid)}}
    </ion-card-header>
    <ng-container *ngFor="let assessment of assessments$ | async">
      <ng-container *ngIf="assessment.cid == cat.cid">
        <ion-item lines="none" style="--inner-border-width: 0">
          <ion-thumbnail slot="start">
            <ion-img
              class="fit-thumbnail"
              src="{{assessment.icon}}"
            ></ion-img>
          </ion-thumbnail>
          <ion-label>{{assessment.label}}</ion-label>
          <div slot="end">
            <span class="units">{{assessment.units}}</span>
            <br />
            <ion-badge
                class="score"
                slot="end"
                >{{0}}</ion-badge
              >
            <!-- <span
              *ngIf="(getScores$(athlete.id, assessment.aid) | async)[0] as score; else zeroScore"
            >
              <ion-badge
                class="score"
                ngClass="{{scoreClass(score.scoreDate)}}"
                slot="end"
                >{{score.rawScore || 0}}</ion-badge
              >
            </span>
            <ng-template #zeroScore>
              <ion-badge
                class="score"
                slot="end"
                >0</ion-badge
              >
            </ng-template> -->
          </div>
      </ion-item>
      </ng-container>
    </ng-container>
  </ng-container>
  </ion-card>
  <div class="bottom-padding"></div>
</ion-content>
