$row-height: 34px;
// --wheel-fade-background-rgb: #222222;
// --background-rgb
// --ion-background-color-rgb

.picker {
    // background: rgba(var(--ion-color-light-rgb), 0.4);
    border: 0px solid gray;
    border-radius: 8px;
    font-size: 22px;
    height: ($row-height * 5);
    margin: auto;
    overflow-y: scroll;
    padding: 3px;
    scroll-snap-type: y mandatory;
    scroll-snap-align: center;
    width: 90%;
}
.picker-opt {
    // background-color: var(--ion-color-light);
    // margin: 1px;
    height: $row-height;
    line-height: $row-height;
    text-align: center;
}
// .current {
//     font-weight: bold;
// }
.spacer {
    height: 84px;
}
.highlight {
    background-color: #4dabfc;
    // background-color: rgba(var(--ion-color-light), 0.4);
    border-radius: 8px;
    height: $row-height;
    margin: auto;
    pointer-events: none;
    position: relative;
    bottom: ($row-height * 3);
    width: calc(90% - 16px);
    z-index: -1;
}
.highlight-above {
    // background: linear-gradient(to bottom, rgba(var(--ion-color-light-rgb), 0.95) 20%, rgba(var(--ion-color-light-rgb), 0.4) 100%);
    background: linear-gradient(to bottom, var(--ion-item-background, #fff) 20%, transparent 100%);
    border-radius: 8px 8px 0 0;
    inset-inline-start: 0px;
    top: 0px;
    height: ($row-height * 2);
    margin: 0 5%;
    position: absolute;
    pointer-events: none;
    width: 90%;
    z-index: 0;
}
.highlight-below {
    // background: linear-gradient(to top, rgba(var(--ion-color-light-rgb), 0.95) 20%, rgba(var(--ion-color-light-rgb), 0.4) 100%);
    background: linear-gradient(to top, var(--ion-item-background, #fff) 20%, transparent 100%);
    border-radius: 0 0 8px 8px;
    inset-inline-start: 0px;
    top: ($row-height * 3);
    height: ($row-height * 2);
    margin: 0 5%;
    position: absolute;
    pointer-events: none;
    width: 90%;
    z-index: 0;
}
.units {
    position: absolute;
    right: 15%;
    top: 2px;
    font-size: 22px;
}
.listbox-container {
    display: block;
    width: 250px;
    border: 1px solid black;
}
.listbox {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 200px;
    overflow: auto;
}
.option {
    position: relative;
    padding: 5px 5px 5px 25px;
}