<div class="highlight" [class.mat-elevation-z8]="true"></div>
<cdk-virtual-scroll-viewport itemSize="42"  class="picker">
  <div class="spacer"></div>
  <div *cdkVirtualFor="let value of range;index as i" class="picker-opt"
    (click)="click(i)">
    {{value}}
  </div>
  <div class="spacer"></div>
</cdk-virtual-scroll-viewport>
<!-- <div class="listbox-container">
  <ul cdkListbox class="listbox">
    <li *ngFor="let value of range" class="option">
      {{value}}
    </li>
  </ul>
</div> -->

<!-- <mat-form-field>
  <mat-select>
    <mat-option *ngFor="let value of range" [value]="value">{{value}}</mat-option>
  </mat-select>
</mat-form-field> -->