ion-content {
  --padding: 10px;
  --padding-end: 10px;
  --padding-start: 10px;
  --padding-top: 14px;
}
.header-img::part(image) {
    border-radius: 20px;
    border: 3px solid #8CA1B6;
    background-image: linear-gradient(to bottom, rgba(229, 243, 255, 0), rgba(207, 233, 255, 1));
    margin:auto;
    max-width: 97%;
    max-height: 320px;
    }
  .header {
    color: rgba(118, 118, 118, 1);
    font-size: 11px;
    height: 30px;
  }
  