.cardStyle {
    margin: 0;
  }
  .bg-transparent {
    // background: transparent;
    --ion-item-background: transparent;
}
.container-flex {
    align-content: flex-end;
    align-items: flex-start;
    display: flex;
    flex: 1 2 0;
    flex-flow: row wrap;
    // grid-template-columns: 1fr 1fr 1fr;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // grid-template-areas: ;
}
.avatar {
    // display: flex;
    grid-column: 2;
    flex-basis: 50%;
    // flex-grow: 2;
    // justify-content: center;
    justify-self: center;
}
.menu-button {
    justify-self: end;
}
.full-name {
    display: flex;
    grid-column: 2;
    justify-content: center;
}
.user-properties {
    display: flex;
    grid-column: 3 / 1;
    justify-content: space-evenly;
    justify-self: center;
}
.col-one {
    display: flex;
    grid-column: 1;
    align-content: space-between;
}
.col-two {
    display: grid;
    grid-column: 2;
    align-content: space-around;
}
.col-three {
    display: grid;
    grid-column: 3;
    align-content: space-around;
}