.cardStyle {
    margin: 0;
    --background: transparent;
    --border-color: transparent;
    // --ion-item-background: transparent;
    background: linear-gradient(#b8dfff, #5eb3f9);
    border: none;
    border-radius: 0 0 20px 20px;
    box-shadow: none;
    ion-item {
        color: #fff;
    }
}
#omniScore {
    margin: auto;
    .omni-label {
      font-weight: 700;
      padding-top: 10px;
    }
    .omni-score {
      font-size: 2em;
      font-weight: 700;
      // padding-bottom: 10px;
      text-align: center;
      margin-bottom: 10px;
    }
}
user-avatar {
    margin: auto;
}
.name {
    font-size: 2em;
    font-weight: bold;
    margin: auto;
    white-space: nowrap;
}
.more-button {
    background-color: transparent;
    width: 100%;
}
.rotate-button {
    transform: rotate(180deg);
}
.chart-swiper {
    text-align: center;
    width: 100%;
    // height: 100px;
}
.chart-slide {
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;
    // width: 100%;
    // height: 100px;
}