user-avatar {
  background: -primary;
  margin: 12px auto;
}
.avatar {
  margin: 24px auto 0;
  ion-label {
    margin:auto;
  }
  ion-button {
    display: block;
    margin: 5px 35%;
  }
}
ion-content {
  // --background: linear-gradient(  var(--ion-color-light),  var(--ion-color-tertiary));
  // --ion-background-color: linear-gradient(rgba(var(--ion-color-primary-rgb), 0.05), rgba(var(--ion-color-primary-rgb), 0.3));
  --ion-background-color: linear-gradient(rgba(0, 116, 252, 0), rgba(0, 116, 252, 0.29));
}
ion-list {
  --ion-item-background: transparent;
}
ion-item {
  --ion-item-background: transparent;
}
ion-datetime::part(wheel-item active) {
  color: rgb(128, 30, 171);
}

.custom-popover {
  --ion-backdrop-color: #b8dfff;
  --ion-safe-area-top: 0;
  backdrop-filter: blur(12px);
  // &::part(backdrop) {
  //   background-color: teal;
  // }
  &::part(content) {
    border-radius: 10px;
    // height: 50%;
    height: 296px;
    margin: auto;
    // width: 80%;
    width: 350px;
  }
}

ion-button {
  // position: fixed;
  --ion-border-radius: 20%;
  padding-left: 20px;
  padding-right: 20px;
  bottom: 0;
}

ion-datetime {
  // --background: #5eb3f9;
  // --background-rgb: 94, 179, 249;
  --wheel-highlight-background: #5eb3f9;
  --wheel-fade-background-rgb: 94, 179, 249;
  &::part(wheel-item) {
    color: rgb(0, 0, 0);
  }
  &::part(wheel-item active) {
    color: rgb(255, 255, 255);
  }
}
ion-spinner {
  display: block;
  margin: auto;
  margin-top: 30%;
  width: 44px;
  height: 44px;
}
.section_header {
  margin-top: 24px;
}
.block {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
ion-modal {
  --height: auto;
}
.bottom-padding {
  height: 64px;
}