<ion-content class="ion-padding" color="default">
  <ion-header class="ion-no-border safe-area"> </ion-header>
  <div class="ion-text-center">
    <ion-card-title class="center" color="dark">Edit Profile</ion-card-title>
  </div>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-button
      (click)="cancel()"
      routerDirection="back"
      type="button"
      size="default"
      shape="circle"
      color="primary"
    >
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-fab>

  <ng-container *ngIf="user$ | async as user; else loading ">
    <div id="choose-avatar" (click)="setAvatarOptionOpen(true)" class="avatar">
      <user-avatar [user]="user" [enableShowPic]="false" class="avatar"></user-avatar>
      <ion-button color="medium" shape="round" size="small">edit</ion-button>
    </div>

   <ion-list-header class="section_header"></ion-list-header>
   <ion-accordion-group>
      <ion-accordion toggleIconSlot="none">
        <ion-item slot="header">
          <ion-label>Name</ion-label>
          <ion-text class="current-value" slot="end">{{user.firstName}}&nbsp;{{user.lastName}}</ion-text>
        </ion-item>
        <div class="ion-padding input-div" slot="content" color="light">
          <ion-input class="input-field" aria-label="First"
            id="firstName"
            [value]="user.firstName"
            (ionChange)="onTextChange($event)"
            placeholder="first name"
            ></ion-input>
          <ion-input class="input-field" aria-label="Last"
            id="lastName"
            [value]="user.lastName"
            (ionChange)="onTextChange($event)"
            placeholder="last name"
            ></ion-input>
        </div>
      </ion-accordion>
      <ion-accordion toggleIconSlot="none">
        <ion-item slot="header">
          <ion-label slot="start">Username</ion-label>
          <ion-text class="current-value" slot="end">&#64;{{user.username}}
          </ion-text>
        </ion-item>
        <div class="ion-padding input-div" slot="content">
          <ion-input class="input-field username-input"
            #usernameInput
            maxlength={{usernameMaxLength}}
            [value]="'&#64;'+user.username"
            (ionChange)="updateUsername($event)"
            (ionInput)="onUsernameInput($event)"
            ></ion-input>
        </div>
      </ion-accordion>
      <ion-accordion toggleIconSlot="none">
        <ion-item slot="header">
          <ion-label>Age</ion-label>
          <ion-text class="current-value" slot="end">{{getAge(user)}}</ion-text>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-datetime [value]="user.dob" (ionChange)="onDobChange($event)" class="date-picker"
          presentation="date" [preferWheel]="true" [max]="today"></ion-datetime>
        </div>
      </ion-accordion>
      <ion-accordion toggleIconSlot="none">
        <ion-item slot="header">
          <ion-label>Gender</ion-label>
          <ion-text class="current-value" slot="end">{{user.gender}}</ion-text>
        </ion-item>
        <app-gender-picker style="width: 100%;" slot="content"
          [gender]="user.gender"
          (genderChange)="setGender($event)"
          ></app-gender-picker>
      </ion-accordion>
      <ion-accordion toggleIconSlot="none">
        <ion-item slot="header">
          <ion-label>Weight</ion-label>
          <ion-text class="current-value" slot="end">{{userWeight}}</ion-text>
        </ion-item>
        <div class="ion-padding" slot="content">
          <app-number-picker class="number-picker" [min]="0" [max]="325" [units]="'lbs'"
            [(pickerValue)]="userWeight"
            (pickerValueChange)="onWeightChange($event)"
          ></app-number-picker>
        </div>
      </ion-accordion>
      <ion-accordion toggleIconSlot="none">
        <ion-item slot="header">
          <ion-label>Height</ion-label>
          <ion-text class="current-value" slot="end">{{user.height.feet}}' {{user.height.inches}}"</ion-text>
        </ion-item>
        <div class="ion-padding" slot="content">
          <app-height-picker
            [(feet)]="userHeightFeet"
            (feetChange)="onHeightFeetChange($event)"
            [(inches)]="userHeightInches"
            (inchesChange)="onHeightInchesChange($event)"
            ></app-height-picker>
        </div>
      </ion-accordion>
    <ion-list-header class="section_header">Account</ion-list-header>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-text slot="end">{{user.email}}</ion-text>
    </ion-item>
    <ion-item button (click)="changePassword()">
      <ion-label>Change Password</ion-label>
      <ion-text slot="end">******</ion-text>
    </ion-item>
    <ion-item button (click)="deleteAccount()">
      <ion-label>Delete Account</ion-label>
      <ion-text slot="end"></ion-text>
    </ion-item>
    <ion-item button (click)="logout()">
      <ion-label color="danger">Log Out</ion-label>
    </ion-item>
  </ion-accordion-group>
  <div class="bottom-padding"></div>
</ng-container>

  <ng-template #loading>
    <ion-spinner color="primary"></ion-spinner>
  </ng-template>

  <ion-modal id="avatarOption"
    [isOpen]="isAvatarOptionOpen"
    (ionModalDidDismiss)="onDidDismiss($event)"
    [initialBreakpoint]="1" [breakpoints]="[0, 1]">
    <ng-template>
      <ion-header>
        <ion-toolbar color="default">
          <ion-title>Select option</ion-title>
          <ion-buttons slot="end">
            <!-- <ion-button (click)="setAvatarOpen(false)">cancel</ion-button> -->
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-list>
        <ion-item lines="none" (click)="chooseFromLibrary()">
          <ion-icon name="image-outline" slot="start"></ion-icon>
          <ion-label>Choose from library</ion-label>
        </ion-item>
        <ion-item lines="none" (click)="takePhoto()">
          <ion-icon name="camera-outline" slot="start"></ion-icon>
          <ion-label>Take a photo</ion-label>
        </ion-item>
        <ion-item lines="none" (click)="openModal('avatar')">
          <ion-icon name="happy-outline" slot="start"></ion-icon>
          <ion-label>Select a character</ion-label>
        </ion-item>
      </ion-list>
      <div class="bottom-padding"></div>
    </ng-template>
  </ion-modal>

  <ion-modal id="editAvatar" [isOpen]="isEditAvatarOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button size="large" (click)="cancelEditImage()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <!-- <ion-button (click)="rotate()">
              <ion-icon slot="icon-only" name="sync-outline"></ion-icon>
            </ion-button> -->
            <ion-button (click)="saveImage()">
              <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <image-cropper
        #cropper
        format="png"
        [output]="'blob'"
        [imageBase64]="imageUrl"
        [aspectRatio]="1 / 1"
        [autoCrop]="false"
        [hideResizeSquares]="isMobile"
        [maintainAspectRatio]="true"
        [resizeToHeight]="256"
        [resizeToWidth]="256"
        [roundCropper]="true"
        [transform]="transform"
        (imageLoaded)="imageLoaded()"
        (loadImageFailed)="loadImageFailed()"
        (imageCropped)="imageCropped($event)"
      ></image-cropper>
      <ion-footer></ion-footer>
    </ng-template>
  </ion-modal>


</ion-content>
