<ion-content class="ion-padding" color="default">
  <ion-header class="ion-no-border"> </ion-header>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-button
      (click)="cancel()"
      routerDirection="back"
      type="button"
      size="small"
      shape="circle"
      color="secondary"
    >
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-fab>
  <div class="ion-text-center">
    <ion-card-title class="center" color="default">Edit Profile</ion-card-title>
  </div>


  <ion-list *ngIf="user$ | async as user; else loading ">
    <div class="avatar">
      <user-avatar [user]="user" class="avatar"></user-avatar>
      <!-- <user-avatar [user]="user" [ngStyle]="{'color': 'white'}"
      (click)="userService.openEditProfile($event, user)"
      >
      </user-avatar> -->
    </div>
  
    <ion-item button (click)="openModal('name')">
      <ion-label>Name</ion-label>
      <ion-text slot="end">{{user.firstName}}&nbsp;{{user.lastName}}</ion-text>
    </ion-item>
    <!-- <ion-item button (click)="presentAlert()">
      <ion-label>Display Alert</ion-label>
      <ion-text slot="end">hello world</ion-text>
    </ion-item> -->
    <ion-item button (click)="openModal('nickname')">
      <ion-label>Display Name</ion-label>
      <ion-text slot="end">{{user.nickname}}</ion-text>
    </ion-item>
    <ion-item button (click)="openModal('dob')">
      <ion-label>Age</ion-label>
      <ion-text slot="end">{{userService.getAge(user)}}</ion-text>
    </ion-item>
    <ion-item button (click)="openModal('sex')">
      <ion-label>Gender</ion-label>
      <ion-text slot="end">{{user.gender}}</ion-text>
    </ion-item>
    <ion-item button (click)="openModal('weight')">
      <ion-label>Weight</ion-label>
      <ion-text slot="end">{{user.weight}}</ion-text>
    </ion-item>
    <ion-item button (click)="openModal('height')">
      <ion-label>Height</ion-label>
      <ion-text slot="end">{{user.height.feet}}' {{user.height.inches}}"</ion-text>
    </ion-item>
    <ion-list-header>Settings</ion-list-header>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-text slot="end">{{user.email}}</ion-text>
    </ion-item>
    <ion-item button>
      <ion-label>Change Password</ion-label>
      <ion-text slot="end">******</ion-text>
    </ion-item>
    <ion-item button (click)="logout()">
      <ion-label>Log Out</ion-label>
    </ion-item>
  </ion-list>

  <ng-template #loading>
    <ion-spinner color="primary"></ion-spinner>
  </ng-template>

      <ion-modal trigger="open-modal" class="custom-popover" (willDismiss)="onWillDismiss($event)">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="end">
                <ion-button (click)="cancel()">
                  <ion-icon name="close-circle-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
              <ion-title>Date of birth</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-content>
            <ion-datetime formControlName="dob" presentation="date" [preferWheel]="true"></ion-datetime>
            <ion-button (click)="save()" expand="block">Save</ion-button>
          </ion-content>
        </ng-template>
      </ion-modal>
    
    <!-- <ion-button color="warning" shape="round" expand="block"
      >Change Password</ion-button
    > -->
</ion-content>
