// user-avatar {
//   background: -primary;
//   margin: 12px auto;
// }
.avatar {
  margin: 24px auto 0;
  ion-label {
    margin:auto;
  }
  ion-button {
    display: block;
    margin: 5px 35%;
  }
}
ion-content {
  // --background: linear-gradient(  var(--ion-color-light),  var(--ion-color-tertiary));
  // --ion-background-color: linear-gradient(rgba(var(--ion-color-primary-rgb), 0.05), rgba(var(--ion-color-primary-rgb), 0.3));
  --ion-background-color: linear-gradient(rgba(0, 116, 252, 0), rgba(0, 116, 252, 0.29));
}
ion-list {
  --ion-item-background: transparent;
}
ion-item {
  --ion-item-background: transparent;
}
ion-datetime::part(wheel-item active) {
  color: rgb(128, 30, 171);
}

.custom-popover {
  --ion-backdrop-color: #b8dfff;
  --ion-safe-area-top: 0;
  backdrop-filter: blur(12px);
  // &::part(backdrop) {
  //   background-color: teal;
  // }
  &::part(content) {
    border-radius: 10px;
    // height: 50%;
    height: 296px;
    margin: auto;
    // width: 80%;
    width: 350px;
  }
}

ion-button {
  // position: fixed;
  --ion-border-radius: 20%;
  padding-left: 20px;
  padding-right: 20px;
  bottom: 0;
}

// ion-datetime {
//   &::part(wheel-item) {
//     color: rgb(0, 0, 0);
//   }
//   &::part(wheel-item active) {
//     color: rgb(255, 255, 255);
//   }
// }
ion-spinner {
  display: block;
  margin: auto;
  margin-top: 30%;
  width: 44px;
  height: 44px;
}
.section_header {
  margin-top: 24px;
}
.block {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
ion-modal {
  --height: auto;
}
.bottom-padding {
  height: 64px;
}
ion-modal#editAvatar {
  --height: 100%;
}
.current-value {
  border: 1.5px solid var(--ion-color-light);
  background-color: var(--ion-color-medium);
  border-radius: 17px;
  color: var(--ion-color-light);
  padding: 5px 10px;
}
.input-div {
  padding-top: 0;
}
.input-field {
  border-bottom: 1px solid var(--ion-color-medium);
}
ion-item::part(native) {
  // $label-margin-bottom: 0px;
  // border: 1px solid blue;
  // border-bottom: 3px solid red;
  // border-radius: 17px;
  // overflow: hidden;
  margin-bottom: 4px;
  // --background: var(--ion-color-medium);
  --color: var(--ion-color-medium-contrast);

  --padding-bottom: 10px;
  --padding-end: 10px;
  --padding-start: 10px;
  --padding-top: 10px;
  label.native-wraper div.native-input {
    background: var(--ion-color-medium);
    // color: var(--ion-color-medium-contrast);
    color: red;
    border-radius: 17px;
    padding-left: 17px;
  }
}
// .username-input::before {
//   content: '&#64;';
// }
.date-picker {
  border: 2px solid var(--ion-color-light);
  height: 200px;
  margin: auto;
  min-width: 90%;
}
// gender radio button
// ion-radio::part(mark) {
//   color:greenyellow;
// }
.gender-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.gender-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.gender-button {
  --border-radius: 55px;
  height: 70px;
  padding: 0px 20px;
  width: 110px;
}
.active {
  --background: var(--ion-color-primary);
}
.disabled {
  --background: var(--ion-color-medium)
}
// .number-picker {
//   border-radius: 17px;
//   overflow: hidden;
//   margin: auto;
//   width: 90%;
// }