<div *ngIf="user$ | async as user; else loading ">
  <ion-item id="omniScore" lines="none" color="none">
    <span style="margin: auto;">
      <ion-label class="omni-label">Level</ion-label>
      <ion-label class="omni-score">&nbsp;{{userLevel(user) | number}}&nbsp;</ion-label>
    </span>
  </ion-item>
  <ion-grid style="padding-top: 0; position: relative; top: -10px">
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-progress-bar class="exp-progress" value="{{((user.omniScore % 100) / 100)}}" buffer="0"></ion-progress-bar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="exp-score">Exp&nbsp;{{userExp(user) | number}}/100</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
<ng-template #loading>
  <ion-skeleton-text animated></ion-skeleton-text>
</ng-template>