.header-content {
    background: linear-gradient(#b8dfff, #5eb3f9);
    border-radius: 20px;
    border: 3px solid #8CA1B6;
    margin:auto;
    min-height: 180px;
    width: 97%;
}
ion-item, .header-item {
    margin-top: 14px;
}
ion-toggle::part(track) {
    background: var(--ion-color-medium);
}
ion-toggle.toggle-checked::part(track) {
    background-color: var(--ion-color-primary);
}