<ion-content color="default">
  <ion-header class="ion-no-border safe-area"> </ion-header>
  <form [formGroup]="formData" (ngSubmit)="onSubmit()">
    <div>
      <ion-list>
        <ion-progress-bar class="progress" [value]="step / 5"></ion-progress-bar>
        <div *ngIf="step == 1">
          <div class="ion-text-center">
            <ion-text color="dark">
              <h1 class="center">Create Account</h1>
            </ion-text>
          </div>
          <ion-item>
            <!-- <ion-label>First Name</ion-label> -->
            <ion-input
              formControlName="firstName"
              placeholder="First"
              [maxlength]="30"
              aria-label="First Name"
            ></ion-input>
          </ion-item>
          <div
            *ngIf="(first.dirty || first.touched) && first.errors"
            class="errors"
          >
            <span *ngIf="first.errors?.required">First name is required</span>
          </div>
          <ion-item>
            <!-- <ion-label>Last Name</ion-label> -->
            <ion-input
              formControlName="lastName"
              placeholder="Last"
              [maxlength]="30"
              aria-label="Last Name"
            ></ion-input>
          </ion-item>
          <div
            *ngIf="(last.dirty || last.touched) && last.errors"
            class="errors"
          >
            <span *ngIf="last.errors?.required">Last name is required</span>
          </div>
          <ion-item>
            <!-- <ion-label>Nickname</ion-label> -->
            <ion-input
              formControlName="nickname"
              placeholder="Display name"
              [maxlength]="30"
              aria-label="Nickname"
            ></ion-input>
          </ion-item>
        </div>
        <div *ngIf="step == 2">
          <div class="ion-text-center">
            <ion-text color="dark">
              <h1 class="center">What is your gender?</h1>
            </ion-text>
          </div>
          <ion-list>
            <ion-radio-group formControlName="gender" value="other">
              <ion-item>
                <ion-label>Male</ion-label>
                <ion-radio slot="end" value="male"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Female</ion-label>
                <ion-radio slot="end" value="female"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </div>
        <div *ngIf="step == 3">
          <div class="ion-text-center">
            <ion-text color="dark">
              <h1 class="center">What is your date of birth?</h1>
            </ion-text>
          </div>
          <ion-item (click)="openPicker()">
            <ion-input
              formControlName="dob"
              placeholder="MM/DD/YYYY"
            ></ion-input>
          </ion-item>
        </div>
        <div *ngIf="step == 4">
          <div class="ion-text-center">
            <ion-text color="dark">
              <h1 class="center">What is your height?</h1>
            </ion-text>
          </div>
          <fieldset formGroupName="height">
            <ion-item>
              <ion-label>Height</ion-label>
              <!-- <ion-label>feet</ion-label> -->
              <ion-input formControlName="feet" placeholder="Feet"></ion-input>
              <!-- <ion-label>inches</ion-label> -->
              <ion-input
                formControlName="inches"
                placeholder="Inches"
              ></ion-input>
            </ion-item>
          </fieldset>
        </div>
        <div *ngIf="step == 5">
          <div class="ion-text-center">
            <ion-text color="dark">
              <h1 class="center">What is your body weight?</h1>
            </ion-text>
          </div>
          <ion-item>
            <!-- <ion-label>Weight</ion-label> -->
            <ion-input
              formControlName="weight"
              placeholder="Weight"
            ></ion-input>
          </ion-item>
        </div>
      </ion-list>
    </div>
    <ion-button type="button" (click)="previous()" [disabled]="step == 1"
      >Back</ion-button
    >
    <ion-button type="button" (click)="next()">Continue</ion-button>
    <!-- <ion-button [disabled]="formData.invalid" type="submit">Submit</ion-button> -->

    <!-- <pre>{{formData.value | json}}</pre> -->
  </form>
</ion-content>
