ion-content {
  --ion-background-color: linear-gradient(rgba(var(--ion-color-primary-rgb), 0.1), rgba(0, 0, 0, 0));
  --padding-top: 32px;
  color: var(--ion-text-color);
}

.input-group {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 15px;
}

.errors {
  font-size: small;
  color: #fff;
  background: var(--ion-color-danger);
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.progress {
  width: 80%;
  height: 4px;
  margin: 12px auto;
}
