<ion-content color="default">
  <ion-header class="ion-no-border safe-area"> </ion-header>
 
  <form [formGroup]="formData" (ngSubmit)="onSubmit()">
    <div>
      <ion-list style="padding: 15px;">
        <ion-item lines="none">
          <ion-button type="button" shape="circle"
            (click)="previous()" [disabled]="step == 1">
            <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
          </ion-button>
          <ion-progress-bar class="progress" [value]="step / 6"></ion-progress-bar>
        </ion-item>
        <!-- <div *ngIf="step == 1"> -->
        <div [hidden]="step !== 1">
          <div class="ion-text-center">
            <ion-text color="dark">
              <h1 class="center">Create Account</h1>
            </ion-text>
          </div>
          <ion-item lines="full">
            <ion-input
              formControlName="firstName"
              placeholder="First"
              [maxlength]="30"
              aria-label="First Name"
            ></ion-input>
          </ion-item>
          <div
            *ngIf="(first.dirty || first.touched) && first.errors"
            class="errors"
          >
            <span *ngIf="first.errors?.required">First name is required</span>
          </div>
          <ion-item lines="full">
            <ion-input
              formControlName="lastName"
              placeholder="Last"
              [maxlength]="30"
              aria-label="Last Name"
            ></ion-input>
          </ion-item>
          <div
            *ngIf="(last.dirty || last.touched) && last.errors"
            class="errors"
          >
            <span *ngIf="last.errors?.required">Last name is required</span>
          </div>
          <ion-item lines="full">
            <ion-input
              id="username"
              formControlName="username"
              placeholder="Username"
              (keydown.space)="$event.preventDefault()"
              [maxlength]="30"
              aria-label="Username"
            ></ion-input>
          </ion-item>
          <div
            *ngIf="(username.dirty || username.touched) && username.errors"
            class="errors"
          >
            <span *ngIf="username.errors?.required">Username is required</span>
            <span *ngIf="username.errors?.minlength">Username is too short</span>
            <span *ngIf="username.errors?.maxlength">Username is too long</span>
          </div>
        </div>
        <!-- <div *ngIf="step == 2"> -->
        <div [hidden]="step !== 2">
          <div class="ion-text-center">
            <ion-text color="dark">
              <h1 class="center">What is your gender?</h1>
            </ion-text>
          </div>
          <ion-item lines="full">
            <app-gender-picker [(gender)]="userGender" style="width: 100%;"></app-gender-picker>
            <!-- <ion-radio-group formControlName="gender" value="other">
              <ion-radio justify="start" value="Male" labelPlacement="end">Male</ion-radio>
              <ion-radio justify="start" value="Female" labelPlacement="end">Female</ion-radio>
            </ion-radio-group> -->
          </ion-item>
        </div>
        <!-- <div *ngIf="step == 3"> -->
        <div [hidden]="step !== 3">
          <div class="ion-text-center">
            <ion-text color="dark">
              <h1 class="center">What is your date of birth?</h1>
            </ion-text>
          </div>
          <!-- value={{userDob}} -->
          <!-- [(ngModel)]="newUser.dob" -->
          <ion-datetime class="date-picker"
            formControlName="dob"
            presentation="date"
            [preferWheel]="true"></ion-datetime>
        </div>
        <!-- <div *ngIf="step == 4"> -->
        <div [hidden]="step !== 4">
          <div class="ion-text-center">
            <ion-text color="dark">
              <h1 class="center">What is your height?</h1>
            </ion-text>
          </div>
          <fieldset formGroupName="height">
            <!-- <ion-item lines="none"> -->
              <!-- <app-number-picker style="width: 50%;" [min]="3" [max]="7" [units]="'ft'"
              [(pickerValue)]="formData.value.height.feet"></app-number-picker>
              <app-number-picker style="width: 50%;" [min]="0" [max]="11" [units]="'in'"
              [(pickerValue)]="formData.value.height.inches"></app-number-picker> -->
              <app-height-picker [feet]=4 [inches]=8></app-height-picker>
              <!-- <ion-button class="continue-button" (click)="openHeightPicker()" 
                expand="block" shape="round">
                {{formData.value.height.feet}} ft
                &nbsp;
                {{formData.value.height.inches}} in
              </ion-button> -->
            <!-- </ion-item> -->
          </fieldset>
        </div>
        <!-- <div *ngIf="step == 5"> -->
        <div [hidden]="step !== 5">
          <div class="ion-text-center">
            <ion-text color="dark">
              <h1 class="center">What is your body weight?</h1>
            </ion-text>
          </div>
          <!-- <ion-item>
            <app-number-picker style="width: 100%;" [min]="0" [max]="325" [units]="'lbs'"
            [(pickerValue)]="formData.value.weight"></app-number-picker>
          </ion-item> -->
          <app-number-picker [(pickerValue)]="userWeight" [min]="0" [max]="325" units="lbs"></app-number-picker>
          <!-- <ion-button class="continue-button" (click)="openWeightPicker()" 
            expand="block" shape="round">
          {{formData.value.weight}} lbs
        </ion-button> -->
        </div>
        <!-- <div *ngIf="step == 6"> -->
        <div [hidden]="step !== 6">
          <div class="ion-text-center">
            <ion-text color="dark">
              <h1 class="center">What is your fitness experience level?</h1>
            </ion-text>
          </div>
          <ion-item>
            <ion-list>
            <!-- formControlName="fitnessLevel" -->
            <ion-radio-group
              (ionChange)="setFitnessLevel($event)"
              value="fitnessLevel">
              <ion-item lines="none">
                <ion-radio justify="start" value="none" labelPlacement="end">No Experience</ion-radio>
              </ion-item>
              <ion-item>
                <ion-text color="medium"><p>
                  Been to the gym less than a few times
                </p></ion-text>
              </ion-item>
              <ion-item lines="none">
                <ion-radio justify="start" value="beginner" labelPlacement="end">Beginner</ion-radio>
              </ion-item>
              <ion-item>
                <ion-text color="medium"><p>
                  Less than 2 years of experience
                </p></ion-text>
              </ion-item>
              <ion-item lines="none">
                <ion-radio justify="start" value="intermediate" labelPlacement="end">Intermediate</ion-radio>
              </ion-item>
              <ion-item>
                <ion-text color="medium">Between 2 and 4 years of experience</ion-text>
              </ion-item>
              <ion-item lines="none">
                <ion-radio justify="start" value="advanced" labelPlacement="end">Advanced</ion-radio>
              </ion-item>
              <ion-item>
                <ion-text color="medium">4+ years of experience</ion-text>
              </ion-item>
            </ion-radio-group>
            </ion-list>
          </ion-item>
        </div>
      </ion-list>
    </div>
  </form>
  <ion-button
    class="continue-button"
    (click)="next()"
    shape="round"
    expand="block"
  >Continue</ion-button>
</ion-content>
