<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="Back" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>NewUser</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">

  <form [formGroup]="formData" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-label>First Name</ion-label>
        <ion-input formControlName="firstName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Last Name</ion-label>
        <ion-input formControlName="lastName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>email</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Nickname</ion-label>
        <ion-input formControlName="nickname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>DOB</ion-label>
        <ion-input formControlName="dob"></ion-input>
      </ion-item>
      <fieldset formGroupName="height">
        <ion-item>
          <ion-label>Height</ion-label>
          <ion-label>feet</ion-label>
          <ion-input formControlName="feet"></ion-input>
          <ion-label>inches</ion-label>
          <ion-input formControlName="inches"></ion-input>
        </ion-item>
        </fieldset>
      <ion-item>
        <ion-label>Weight</ion-label>
        <ion-input formControlName="weight"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button type="submit" expand="block">Submit</ion-button>

    <pre>{{formData.value | json}}</pre>
  </form>

</ion-content>
